.hero.is-info {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1579781403337-de692320718a?ixlib=rb-1.2.1&auto=format&fit=crop&w=940&q=80")
      center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero.is-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=486&q=80")
      center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#questionField {
  border: solid 5px black;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 200px;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 30px;
  color: black;
  --stripe: #cfd8dc;
  --bg: #e1e1e1;

  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
}
@media only screen and (max-width: 420px) {
  #questionField {
    height: 100%;
  }
}
#date {
  padding-bottom: 10px;
}

#qHeader {
  text-align: center;
  font-size: xx-large;
  text-decoration: underline;
  font-weight: 1000;
  padding-bottom: 10px;
}

.row {
  padding-bottom: 10px;
}

#nextBtn {
  margin-left: 42%;
}
