.hero.is-info {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1579781403337-de692320718a?ixlib=rb-1.2.1&auto=format&fit=crop&w=940&q=80")
      center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero.is-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=486&q=80")
      center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Priyanka's CSS */
/************************************************************************/
 #main{
   border: 1px solid white;
 }
 .aside{
  border: 1px solid white;
  height: 100%;
}
.heading{
  font-size: 25px;
  background-color: rgb(94, 92, 90);
  margin-bottom: 10px;
  color: bisque;
}
.title{
  font-size: 20px;
  margin-bottom: 0;
  padding: 0;
  color: bisque;
}
#images{
  width: 100%;
  height: auto;
}
#score-table{
  max-height:500px; /*example*/
   overflow: auto; /* auto , scroll .. */
}
#dataSection{
  background-color: rgb(3, 60, 95);
  /* border: 1px solid black; */
  border-radius: 20px;
  margin-top: 5px;
}




/* ************************************************************************** */